html {
    height: 100%;
    margin: 0;
    background-color: blue ;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

/* E-Mail style section */
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Password style section */ 
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Company Name ID - Centric */
#centric-company-id{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-body-secondary{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Styling Buttons so that there is a padding above and below:*/
.form-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Adding a margin on the Buttons */
.form-button .btn {
    margin: 0px 1px;
}

